.button_component {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(73, 73, 208);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button_component:hover {
    background-color: rgb(71, 71, 129);
}